/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: "varela Round", "sans-serif", sans-serif;
}
html body {
  width: 100%;
  overflow-x: hidden;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e07a5f;
  padding: 0 5%;
  font-weight: bold;
  font-size: 1.6rem;
}
@media (max-width: 750px) {
  nav {
    font-size: 1.2rem;
    padding: 0 2%;
  }
}
nav img {
  width: 12rem;
  cursor: pointer;
}
@media (max-width: 750px) {
  nav img {
    width: 8rem;
  }
}
nav button {
  padding: 9px 25px;
  background-color: #28262c;
  color: #fcfcfc;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
nav button:hover {
  background-color: #fcfcfc;
  color: #28262c;
}
nav button:focus {
  outline: 0;
}
@media (max-width: 750px) {
  nav button {
    font-size: 1rem;
    padding: 6px 18px;
  }
}
nav .nav-links {
  display: flex;
}
nav .nav-links li {
  padding: 0 40px;
}
nav .nav-links li a {
  color: #28262c;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}
nav .nav-links li a:hover {
  color: #fcfcfc;
}
@media (max-width: 750px) {
  nav .nav-links #home {
    display: none;
  }
}
header {
  width: 100vw;
  height: 100vh;
}
header .header-img-div {
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
.about-header {
  width: 100vw;
  height: 100vh;
}
.about-header .header-img-div {
  background-image: url(../img/about-img.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f1de;
  padding: 8rem 0;
}
section h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
section .card-wraper {
  justify-content: center;
  width: 55%;
  min-width: 936px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width:950px) {
  section .card-wraper {
    display: flex;
    flex-wrap: wrap;
    min-width: 700px;
  }
}
@media (max-width:650px) {
  section .card-wraper {
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
  }
}
section .card-wraper .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 400px;
  margin: 1rem;
  background: #fcfcfc;
  border-radius: 10px;
  box-shadow: rgba(73, 73, 73, 0.2) 0px 0px 4px 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
section .card-wraper .card:hover {
  border: 2px solid lightgray;
}
@media (max-width:650px) {
  section .card-wraper .card {
    width: 400px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:500px) {
  section .card-wraper .card {
    width: 400px;
    height: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
section .card-wraper .card h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
  margin: 2rem 0;
}
@media (max-width:650px) {
  section .card-wraper .card h3 {
    padding-top: 0;
    margin: 1rem;
  }
}
@media (max-width:500px) {
  section .card-wraper .card h3 {
    padding-top: 0;
    margin: 1rem;
  }
}
section .card-wraper .card p {
  font-size: 1.6rem;
  color: gray;
  line-height: 2rem;
  margin: 0 1rem;
}
@media (max-width:650px) {
  section .card-wraper .card p {
    font-size: 1.3rem;
    line-height: 1.2em;
  }
}
section .card-wraper .card img {
  width: 80%;
}
@media (max-width:650px) {
  section .card-wraper .card img {
    width: 50%;
  }
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f1de;
  padding: 8rem 0;
}
section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
section .card-wraper {
  justify-content: center;
  width: 55%;
  min-width: 936px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width:950px) {
  section .card-wraper {
    display: flex;
    flex-wrap: wrap;
    min-width: 700px;
  }
}
@media (max-width:650px) {
  section .card-wraper {
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
  }
}
section .card-wraper .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 400px;
  margin: 1rem;
  background: #fcfcfc;
  border-radius: 10px;
  box-shadow: rgba(73, 73, 73, 0.2) 0px 0px 4px 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 2rem 0;
}
section .card-wraper .about a {
  width: 4rem;
  margin-top: 2rem;
}
section .card-wraper .about:hover {
  border: 2px solid lightgray;
}
@media (max-width:650px) {
  section .card-wraper .about {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
    width: 400px;
    height: 240px;
  }
}
@media (max-width:500px) {
  section .card-wraper .about {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
    width: 400px;
    height: 240px;
  }
}
section .card-wraper .about .team-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .card-wraper .about .team-description h3 {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: underline;
  margin: 2rem 0;
}
section .card-wraper .about .team-description p {
  font-size: 1.6rem;
  color: gray;
  line-height: 2rem;
}
@media (max-width:650px) {
  section .card-wraper .about .team-description p {
    font-size: 1.6rem;
  }
}
@media (max-width:500px) {
  section .card-wraper .about .team-description p {
    font-size: 1.6rem;
  }
}
@media (max-width:650px) {
  section .card-wraper .about .team-description a img {
    width: 3rem;
  }
}
@media (max-width:500px) {
  section .card-wraper .about .team-description a img {
    width: 3rem;
  }
}
section .card-wraper .about .team {
  width: 80%;
}
@media (max-width:650px) {
  section .card-wraper .about .team {
    width: 40%;
  }
}
@media (max-width:500px) {
  section .card-wraper .about .team {
    width: 40%;
  }
}
footer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #28262c;
}
footer .footer-credits {
  padding-bottom: 20px;
}
footer .footer-credits p {
  color: #f4f1de;
}
footer .footer-nav ul {
  display: flex;
  padding: 40px 0 60px 0;
}
footer .footer-nav ul a {
  color: #fcfcfc;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0 40px;
}
footer .footer-nav ul a:hover {
  color: #e07a5f;
}
