/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: block, sans-serif;
}
html body {
  width: 100%;
  overflow-x: hidden;
}
header {
  width: 100vw;
  height: 100vh;
}
header .header-img-div {
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f1de;
  padding: 8rem 0;
}
section h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}
section .card-wraper {
  justify-content: center;
  width: 55%;
  min-width: 936px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width:950px) {
  section .card-wraper {
    display: flex;
    flex-wrap: wrap;
    min-width: 700px;
  }
}
@media (max-width:650px) {
  section .card-wraper {
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
  }
}
section .card-wraper .card {
  width: 280px;
  height: 400px;
  margin: 1rem;
  background: #fcfcfc;
  border-radius: 10px;
  box-shadow: rgba(73, 73, 73, 0.2) 0px 0px 4px 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 0 0 0 0.5rem;
}
@media (max-width:650px) {
  section .card-wraper .card {
    width: 400px;
    height: 280px;
  }
}
section .card-wraper .card img {
  width: 80%;
}
@media (max-width:650px) {
  section .card-wraper .card img {
    width: 50%;
  }
}
.navbar {
  display: flex;
  background: #e07a5f;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  width: 100%;
  font-size: 1.6rem;
  position: sticky;
  top: 0;
}
@media (max-width: 700px) {
  .navbar {
    justify-content: flex-start;
  }
}
.navbar img {
  width: 12rem;
  margin: 0;
  padding: 0;
}
@media (max-width: 700px) {
  .navbar img {
    width: 8rem;
  }
}
.navbar .nav-items {
  display: flex;
  justify-content: space-around;
  width: 25%;
}
.navbar a {
  text-decoration: none;
  color: #28262c;
}
@media (max-width: 700px) {
  .navbar a {
    font-size: 1.4rem;
  }
}
@media (max-width: 700px) {
  .navbar #home {
    display: none;
  }
}
.navbar .button-div {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
}
.navbar .button-div a {
  background: #28262c;
  color: #f4f1de;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: block, sans-serif;
}
