header {
  width: 100vw;
  height: 100vh;
}
header .header-img-div {
  background-image: url(../img/header-img.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
header .header-img-div h1 {
  position: fixed;
  z-index: 0;
}
.about-header {
  width: 100vw;
  height: 100vh;
}
.about-header .header-img-div {
  background-image: url(../img/about-img.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
