header {
  width: 100vw;
  height: 100vh;

  @media @large-phone {
    height: 400px;
  }

  .header-img-div {
    .flex(center, center);
    background-image: url(../img/header-img.jpg);
    .background(cover, center center, fixed, 100%, 100%);

    position: absolute;
    z-index: -2;
  }
  .heading {
    position: absolute;
    top: 50%;
    z-index: -1;
    @media @tablet {
      position: fixed;
      top: 20%;
    }
    h1 {
      position: fixed;
      font-size: 3rem;
      color: @alabaster;
      font-weight: bold;
      margin: 0 0.5rem;
      background-color: @h1-background;
      text-shadow: 2px 2px @h1-shaddow;
    }
  }

  .about-header-img-div {
    .flex(center, center);
    background-image: url(../img/about-img.jpg);
    .background(cover, center center, fixed, 100%, 100%);

    position: absolute;
    z-index: -2;
  }
  .heading {
    position: absolute;

    z-index: -1;
    @media @tablet {
      position: fixed;
      top: 20%;
    }
    h1 {
      position: fixed;
      color: @alabaster;
      font-size: 3rem;
      font-weight: bold;
      margin: 0 0.5rem;
      background-color: @h1-background;
      text-shadow: 2px 2px @h1-shaddow;
    }
  }
}
