section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: @section-bg;
  padding: 8rem 0;

  .card-wraper {
    justify-content: center;

    width: 55%;
    display: flex;
    flex-wrap: wrap;

    .card {
      width: 30%;
      height: 400px;
      margin: 1rem;
      background: @alabaster;
      border-radius: 10px;
    }
  }
}
