//Parametric Mixins
.flex(@justify,@align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.background(@size,@position,@attachment,@height,@width) {
  background-size: @size;
  background-position: @position;
  background-attachment: @attachment;
  height: @height;
  width: @width;
}

.media(@wrap,@width) {
  display: flex;
  flex-wrap: @wrap;
  min-width: @width;
}

.direction(@direction,@align,@background,@padding) {
  display: flex;
  flex-direction: @direction;
  align-items: @align;
  background: @background;
  padding: @padding;
}
